extends layout

block content
  h1= title
  p i like travelling
  <button type="button" class="btn btn-danger">Press Me</button>
  div#faster Increase the speed
  button(type="button" class="btn btn-primary" onclick="goFaster()") Go Faster
  script. 
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph = mph + change;
      change = change + 1;
      document.getElementById("faster").innerText = `MPH ${mph} with change ${change}`
    }
  hr
  a(href='/tiger') tigerlink
  