extends layout
 
block content
 h1= title
 form(id='tigerForm', action="/resource/tigers", method="POST")
  div.form-group
    label.tigerAttr(for='tiger_color') tiger color
    input#tiger_color(type='text', name='tiger_color')
  div.form-group
    label.tigerAttr(for='tiger_breed') tiger breed
    input#tiger_breed(type='text', name='tiger_breed')
  div.form-group
    label.tigerAttr(for='tiger_price') tiger price
    input#tiger_price(type='number', name='tiger_price')
  input(type="submit")
 
 script.
  document.forms['tigerForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });